/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;    padding: 0;
    border: 0;    font-size: 100%;
    font: inherit;    vertical-align: baseline;
}

/* variables */

:root {
    --main-color: #1e90ff;
  }

/* Container and body */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template: 
        [row1-start] "header header" 15vh[row1-end]
        [row2-start] "sidebar content" 1fr[row2-end]
        / 15vw 1fr;
    ;
}

/* header */

.header{
    grid-area: header;
    border: 1px solid pink;
}

/* sidebar */

.sidebar{
    grid-area: sidebar;
    border: 1px solid red;
}

/* content */

.content{
    grid-area: content;
    border: 2px solid yellow;
}